<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/add.css"/>
    
    <title>Thunders</title>
  </head>
  <body>
    <%- include('header'); -%>
    <br>

    <div class="card container">
      <h5>Add Person</h5>
      <br>
      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Name</label>
          <input type="text" class="form-control" id="addPersonNameTxt" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary mb-2" onclick="addPerson();">Add Person</button>
      </div>
      <br>
      <div class="alert alert-success alert-dismissible fade" role="alert">
        <strong>Holy guacamole!</strong> New person has been added.
        <button type="button" class="close" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    </div>

    <div class="card container" style="overflow-y: scroll;">
      <h5>Team Data</h5>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Namelist</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody class="names">
        </tbody>
      </table>
      <div class="loading form-group col-md-2">
        <div class="d-flex align-items-center">
          <span class="text-success">Loading data...</span>
          &nbsp;
          <div class="spinner-border spinner-border-sm text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
     
    </div>

    <div class="modal" id="deleteUserModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete user <span id="userName"></span> ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="deleteUser()">Yes Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf90461460.js" crossorigin="anonymous"></script>
    <script src="scripts/add.js"></script>
  </body>
</html>